extends layout

block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="javascripts/application-overview.js")
    .titlehead
    h1.title APPLICATION STATUS OVERVIEW
    .top-master-container
        .search-container
            form.wrap.searchbar(Method="GET")
                  .searchBackground
                     .search
                         input.searchTerm.searchApplications(type='text'  placeholder='Search by Last Name, First Name (lower case)' name='search')
        .master-container
            .over-all-container
                .tabs
                    ul.tab-links
                        li.active
                            a(href='#approved-tab') APPROVED
                        li
                            a(href='#pending-tab') PENDING
                        li
                            a(href='#not-approved-tab') NOT APPROVED
                            
                    .tab-content
                        #approved-tab
                            ul.acceptedList
                             - for (i =0; i < applications.length; ++i)
                                if (applications[i].applicationstate == "approved") 
                                    li.anchor #{applications[i].lastname}, #{applications[i].firstname}, #{applications[i].middlename}  
                                        a.viewDetails(href='applicant_details/'+applications[i]._id) View Details
                        #pending-tab
                            ul.pendinglist
                             - for (i =0; i < applications.length; ++i)
                                if (applications[i].applicationstate == "application") 
                                    li.anchor(href="user_details") #{applications[i].lastname}, #{applications[i].firstname}, #{applications[i].middlename}
                                        a.viewDetails(href='applicant_details/'+applications[i]._id) View Details
                        #not-approved-tab
                            ul.rejectedlist
                             - for (i =0; i < applications.length; ++i)
                                if (applications[i].applicationstate == "rejected") 
                                    li.anchor #{applications[i].lastname}, #{applications[i].firstname}, #{applications[i].middlename}
                                        a.viewDetails(href='applicant_details/'+applications[i]._id) View Details