extends layout

block content

  ul
     p User Name #{application.email}
     p First Name #{application.firstname}
     p Last Name #{application.lastname}
     p phone number #{application.contactphone}
     p address #{application.address}
     p zip #{application.zip}
     p state #{application.state}
     p city #{application.city}
     p(hidden='') Id #{application.Id}
     a(href="/user_update") update applicant
     button.approveButton(href="/Approve_Application" type='submit') Approve!!
