extends layout
block content
    div.wrapper 
     .profile-main
      .column
       .profile-container.portal-module 
        h2.module-heading Profile
        div.profile-info-container
         .img-container
          div.photo-container
           img.ProfileImage#ProfileImage(src="images/sean-baier.jpeg" alt="")
          a.anchor-tag(href="#book-a") update photo 
         .extra-info
          h4.profile-name #{appl.firstname} #{appl.lastname}
          .morecontroll
           h3.GetM Account Active
           p.module-paragraph.primary-info Joined in 2017
           a.anchor-tag(href="#book-a") Update
       .address-container.portal-module
         h2.module-heading Address
         .address
          p.module-paragraph #{appl.address}
          p.module-paragraph #{appl.city} #{appl.state} #{appl.zip} 
          p.module-paragraph.primary-info Primary, Billing address
         a.anchor-tag(href="#book-a") Update 
      .column
       .account-options.portal-module
        h2.module-heading Account Options
        .account-details
         div.selection-container
          p.account-heading language 
          select
           option(value="english") English
           option(value="spanish") Spanish
           option(value="french") French   
         div.selection-container
          p.account-heading Time Zone
          select
           option(value="(GMT-8:00) Pacific Time") (GMT-8:00) Pacific Time
         div.selection-container  
          p.account-heading Nationality
          if appl.nationality
            p #{appl.nationality}
          else
            p.module-paragraph No Value
         div.selection-container  
          p.account-heading SSN
          if appl.ssn
            p #{appl.ssn}
          else
            p.module-paragraph No Value
       .email-container.portal-module
        h2.module-heading Email
        div.email-info
         p.module-paragraph #{appl.email}
         p.module-paragraph.primary-info Email, Primary
         a.anchor-tag(href="#book-a") Update | 
         a.anchor-tag(href="#book-a") Delete
         p.module-paragraph.disclaimer *To update an email address you must have atlest two email addresses.     
       .phone-container.portal-module
        h2.module-heading Phone
        div.phone-info
         p.module-paragraph #{appl.contactphone}
         p.module-paragraph.primary-info Mobile, Primary
         a.anchor-tag(href="#book-a") Update | 
         a.anchor-tag(href="#book-a") Delete




