extends layout
block content
    div.wrapper 
     h1.profile-heading PROFILE
     .profile-main
      .column
       .profile-container.profile-module 
        .img-container
         div.photo-container
          img.ProfileImage#ProfileImage(src="images/drake_siemer.jpg" alt="")
         a.anchor-tag(href="#book-a") update photo 
        .extra-info
         H6.Eh6.module-heading#Eh6 #{applications[0].firstname} #{applications[0].lastname}
         .morecontroll
          p.Ep#Ep Joined in 2017
          a.anchor-tag(href="#book-a") Update
         h3.GetM Account Active
       .address-container.profile-module
         H3.module-heading Address
         .address
          p.module-paragraph #{applications[0].address}
          p.module-paragraph #{applications[0].city} #{applications[0].state} #{applications[0].zip} 
          p.module-paragraph.primary-info Primary, Billing address
         a.anchor-tag(href="#book-a") Update 
      .column
       .account-options.profile-module
        H3.module-heading Account Options
        .account-details
         div.selection-container
          p.module-paragraph language 
          select
           option(value="english") English
           option(value="spanish") Spanish
           option(value="french") French   
         div.selection-container
          p.module-paragraph Time Zone
          select
           option(value="(GMT-8:00) Pacific Time") (GMT-8:00) Pacific Time
         p.Nationality#Nationality #{applications[0].nationality}
         p.SSN#SSN SSN xxx-xx-xxxx
         p.MerchantId#MerchantId MerchantId lasndllasjd
         a(href="#book-a") Upgrade to a Business account
         a(href="#book-a") Close your account
       .phone-container.profile-module
        H3.H3Phone#H3Phone.module-heading Phone
         .Phone-Details#PhoneDetails
          p.Phone#Phone #{applications[0].contactphone}
          p.Primary#Primary Mobile, Primary
          a(href="#book-a") Update | 
          a.red(href="#book-a") Delete




