extends layout
block content
    div.wrapper 
     h1.profile-heading PROFILE
     .profile-main
      .column
       .profile-container.portal-module 
        .img-container
         div.photo-container
          img.ProfileImage#ProfileImage(src="images/sean-baier.jpeg" alt="")
         a.anchor-tag(href="#book-a") update photo 
        .extra-info
         H6.Eh6.module-heading#Eh6 #{applications[0].firstname} #{applications[0].lastname}
         .morecontroll
          p.Ep#Ep Joined in 2017
          a.anchor-tag(href="#book-a") Update
         h3.GetM Account Active
       .address-container.portal-module
         H3.module-heading Address
         .address
          p.module-paragraph #{applications[0].address}
          p.module-paragraph #{applications[0].city} #{applications[0].state} #{applications[0].zip} 
          p.module-paragraph.primary-info Primary, Billing address
         a.anchor-tag(href="#book-a") Update 
      .column
       .account-options.portal-module
        H3.module-heading Account Options
        .account-details
         div.selection-container
          p.account-heading language 
          select
           option(value="english") English
           option(value="spanish") Spanish
           option(value="french") French   
         div.selection-container
          p.account-heading Time Zone
          select
           option(value="(GMT-8:00) Pacific Time") (GMT-8:00) Pacific Time
         div.selection-container  
          p.account-heading Nationality
          if applications[0].nationality
            p #{applications[0].nationality}
          else
            p.module-paragraph No Value
         div.selection-container  
          p.account-heading SSN
          if applications[0].ssn
            p #{applications[0].ssn}
          else
            p.module-paragraph No Value
       .email-container.portal-module
        H3.module-heading Email
        div
         p.module-paragraph #{applications[0].email}
         p.module-paragraph.primary-info Email, Primary
         a.anchor-tag(href="#book-a") Update | 
         a.anchor-tag(href="#book-a") Delete
         p.module-paragraph.disclaimer *To update an email address you must have atlest two email addresses.     
       .phone-container.portal-module
        H3.module-heading Phone
        div
         p.module-paragraph #{applications[0].contactphone}
         p.module-paragraph.primary-info Mobile, Primary
         a.anchor-tag(href="#book-a") Update | 
         a.anchor-tag(href="#book-a") Delete




