extends users-layout

block content

  ul
     p User Name #{applications[0].email}
     p First Name #{applications[0].firstname}
     p Last Name #{applications[0].lastname}
     p phone number #{applications[0].contactphone}
     p address #{applications[0].address}
     p zip #{applications[0].zip}
     p state #{applications[0].state}
     p city #{applications[0].city}
  a(href="/user_update") update user

