extends layout

block content
    .user-details-layout
        .user-details
             h3 #{applications.firstname} #{applications.lastname}
             p Email       | #{applications.email}
             p First Name  | #{applications.firstname}
             p Last Name   | #{applications.lastname}
             a.UUserBtn(href='http://localhost:3000/user_update/'+applications.user) update #{applications.firstname}
             if session.isadmin
                 button.deleteUser.UUserBtn#deleteUser(type="submit" value="/"+applications.user) delete #{applications.firstname}
        .detail-image
             img.user-details-photo.dropbtn(src="../images/your-face-here.jpg")
             p needs data from V.E.F
             p Aliquip aliqua occaecat dolor deserunt proident culpa sit irure dolore exercitation ex sint in adipisicing duis ullamco aliqua consectetur velit in culpa qui ut aliquip enim sunt sit nostrud sed occaecat culpa velit.

