extends layout

block content
    .user-details-layout
        .user-details
             h3 #{applications.firstname} #{applications.lastname}
             p User Name   | #{applications.email}
             p First Name  | #{applications.firstname}
             p Last Name   | #{applications.lastname}
             p phone number| #{applications.contactphone}
             p address     | #{applications.address}
             p zip         | #{applications.zip}
             p state       | #{applications.state}
             p city        | #{applications.city}
             a(href='http://localhost:3000/user_update/'+applications._id) update #{applications.firstname}
        .detail-image
             img.user-details-photo.dropbtn(src="../images/your-face-here.jpg")
             p needs data from V.E.F
             p Aliquip aliqua occaecat dolor deserunt proident culpa sit irure dolore exercitation ex sint in adipisicing duis ullamco aliqua consectetur velit in culpa qui ut aliquip enim sunt sit nostrud sed occaecat culpa velit.

